.buy {
  margin-top: 20px;
  width: 310px;
  margin: 20px auto 0 auto;
  display: block;
}

.cart-item {
  border: 1px solid #000;
  margin: 0 auto 15px auto;
  padding: 10px;
  width: 300px;
  button {
    margin-top: 10px;
  }
}
