.ReactModal__Body--open {
    overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-modal {
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 400px;
  width: 400px;
  position: relative;
}

.product-main {
  width: 100%;
  margin: 0 auto;
}

.product-feed {
  display: flex;
  flex-wrap: wrap;
}

.product-details {
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.product-link {
  color: #000;
}

.cart-button {
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
}
