.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #BED449;
  justify-content: space-between;
  font-weight: bold;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 2;
}

ul {
  display: flex;
}

.title {
  font-size: 24px;
}

.below-nav {
  margin-top: 60px;
  margin-left: 20px;
  width: 100%;
}
